

html, body {
  width: 100%;
  height: 100%;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c1dfc4+0,deecdd+100 */
  background: #c1dfc4; /* Old browsers */
  background: -moz-linear-gradient(top, #c1dfc4 0%, #deecdd 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #c1dfc4 0%,#deecdd 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #c1dfc4 0%,#deecdd 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c1dfc4', endColorstr='#deecdd',GradientType=0 ); /* IE6-9 */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.box  {
  background-image: url('/oval-bg.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 717px;
  height: 458px;
  padding: 20px;
  padding: 40px 50px;
  position: relative;
}

.box h3 {
  color: #638165;
  font-weight: 400;
}

.box p {
  font-weight: 100;
}

.box .btn {
  border-radius: 3px;
  font-size: 11px;
  font-weight: bold;
  max-width: 200px;
  width: 100%;
}

.box .btn-green {
  background-color: #c1dfc4;
  border-color: #c1dfc4;
  color: #638165;
}

.box .btn-white {
  background-color: #FFFFFF ;
  border-color: #FFFFFF;
  color: #638165;
}

.box .col-6 + .col-6 {
  padding-left: 80px;
}

.box small {
  font-weight: 100;
  line-height: 1.0;
}

.box .form-group label {
  font-weight: 100;
  font-size: 12px;
  margin-bottom: 1px;
}

.box .form-group input,
.box .form-group select {
  background-color: #F1F1F1F1;
  border-color: #F1F1F1F1;
  border-radius: 3px;
  height: 35px; 
  font-size: 15px;
}

.box img,
.box .avatar {
  max-width: 200px;
  width: 100%;
}

.box input[type="file"] {
  display: none;
}

.box .form-group {
  margin-bottom: 5px;
}

.box .btn-logout {
  position: absolute;
  right: 20px;
  top: 20px;
  color: darkred;
  cursor: pointer;
}